{% extends "base.html" %}

{% block content %}
    <div class="card bg-light">
        <div class="card-body">
            <h2 class="card-title text-purple">About Web Scanner</h2>
            <p>This Web Scanner project is designed to help you identify and mitigate common web vulnerabilities. It scans your website for open ports and various types of vulnerabilities, providing detailed results and recommendations.</p>
            <p>Technologies used:</p>
            <ul class="list-group">
                <li class="list-group-item">Python</li>
                <li class="list-group-item">Flask</li>
                <li class="list-group-item">BeautifulSoup</li>
                <li class="list-group-item">Nmap</li>
                <li class="list-group-item">Bootstrap</li>
            </ul>
        </div>
    </div>
{% endblock %}

